@model LandVM
@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/PostAd.css">
    <link rel="stylesheet" href="~/css/PostAdSidebar.css">
    <link rel="stylesheet" href="~/css/ui.css">
    <link rel="stylesheet" href="~/css/upload.css">
    <link rel="stylesheet" href="~/css/upload1.css">
    <link rel="stylesheet" href="~/css/LandUpsert.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>


<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
      <div class="row">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Land.Id" hidden />
            <input asp-for="Land.ImageUrl" hidden />
        
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                          <h2 class="text-primary"> <i class=" fa fa-house-flag" style="color:#456270"></i>@(Model.Land.Id != 0 ? "編輯" : "刊登出售")土地</h2>
                      @*   <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <h5>選擇廣告類型：</h5>
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center; margin-top:10px; ">
                                <select asp-for="Land.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                                    <option disabled selected>請選擇類別</option>
                                </select> 
                            </div>
                        </div> *@
                        
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">基本資料</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.Address" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="Land.Address" class="form-control" placeholder="請輸入物件地址" />
                            <span asp-validation-for="Land.Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandSerialNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="Land.LandSerialNumber" class="form-control" placeholder="請輸入權狀登載之地號，如：板橋區篤行段0063-0000地號，請完整填寫" />
                            <span asp-validation-for="Land.LandSerialNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.OwnerShipType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="民有土地" required checked >民有土地</label>
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="國有土地" style="margin-left:10px;" >國有土地</label>
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="原住民族土地" style="margin-left:10px;" >原住民族土地</label>
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="無主土地" style="margin-left:10px;" >無主土地</label>
                            <span asp-validation-for="Land.OwnerShipType" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.SquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.SquareMeters" class="form-control" placeholder="請輸入基地面積" />
                                <select asp-for="Land.SquareMetersUnit" id="city" class="form-control" style="margin-right: 10px;" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">請選擇單位</option>
                                    <option value="坪">坪</option>
                                    <option value="平方公尺">平方公尺</option>
                                </select>
                            </div>
                            <span asp-validation-for="Land.SquareMeters" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandWidth" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <p><strong>面寬</strong></p><input asp-for="Land.LandWidth" style="width:20%;" class="form-control" placeholder="請輸入土地面寬" /><p><strong>米</strong></p>
                            <span asp-validation-for="Land.LandWidth" class="text-danger"></span>
                            <p><strong style="margin-left: 20px;">縱深</strong></p><input asp-for="Land.LandDepth" style="width:20%;" class="form-control" placeholder="請輸入土地縱深" /><p><strong>米</strong></p>
                            <span asp-validation-for="Land.LandDepth" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.CloseRoad" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <p><strong>臨路路寬</strong></p><input asp-for="Land.CloseRoad" style="width:20%;" class="form-control" placeholder="請輸入土地面寬" /><p><strong>米</strong></p>
                            <span asp-validation-for="Land.CloseRoad" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandUseZone" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandUseZone" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZone" type="radio" value="都市土地" checked >都市土地</label>
                            <label asp-for="Land.LandUseZone" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZone" type="radio" value="非都市土地" style="margin-left:10px;">非都市土地</label>
                        </div>
                        <div id="urbanZones" class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="住宅區" checked>住宅區</label>
                            <select asp-for="Land.LandUseZoneTypeDetail" id="city" class="form-control" style="margin-right: 10px; width:20%; margin-left: 10px;">
                                <option value="" disabled selected style="color: #b7b7b7;">請選擇類型</option>
                                <option value="住一">住一</option>
                                <option value="住二">住二</option>
                                <option value="住二之一">住二之一</option>
                                <option value="住二之二">住二之二</option>
                                <option value="住三">住三</option>
                                <option value="住三之一">住三之一</option>
                                <option value="住三之二">住三之二</option>
                                <option value="住四">住四</option>
                                <option value="住四之一">住四之一</option>
                            </select>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="商業區" style="margin-left:10px;" >商業區</label>
                            <select asp-for="Land.LandUseZoneTypeDetail" id="city" class="form-control" style="margin-right: 10px; width:20%; margin-left: 10px;" >
                                <option value="" disabled selected style="color: #b7b7b7;">請選擇類型</option>
                                <option value="商一">商一</option>
                                <option value="商二">商二</option>
                                <option value="商三">商三</option>
                                <option value="商四">商四</option>
                            </select>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="工業區" style="margin-left:10px;" >工業區</label>
                            <select asp-for="Land.LandUseZoneTypeDetail" id="city" class="form-control" style="margin-right: 10px; width:20%; margin-left: 10px;" >
                                <option value="" disabled selected style="color: #b7b7b7;">請選擇類型</option>
                                <option value="特種工業區">特種工業區</option>
                                <option value="甲種工業區">甲種工業區</option>
                                <option value="乙種工業區">乙種工業區</option>
                                <option value="零星工業區">零星工業區</option>
                            </select>

                        </div>
                        <div id="urbanZones1" class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                           
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="行政區" style="">行政區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="文教區" style="margin-left:10px;">文教區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="體育運動區" style="margin-left:10px;">體育運動區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="風景區" style="margin-left:10px;">風景區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="保存區" style="margin-left:10px;">保存區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="保護區" style="margin-left:10px;">保護區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="農業區" style="margin-left:10px;">農業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="特定專用區" style="margin-left:10px;">特定專用區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="其他使用區" style="margin-left:10px;">其他使用區</label>
                        </div>

                        <div id="nonUrbanZones" class="col-md-12 col-sm-12" style="display: none; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="特定農業區" >特定農業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="一般農業區" style="margin-left:10px;" checked>一般農業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="工業區" style="margin-left:10px;" >工業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="鄉村區" style="margin-left:10px;" >鄉村區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="森林區" style="margin-left:10px;" >森林區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="山坡地保育區" style="margin-left:10px;" >山坡地保育區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="風景區" style="margin-left:10px;" >風景區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="國家公園區" style="margin-left:10px;" >國家公園區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="河川區" style="margin-left:10px;" >河川區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="海域區" style="margin-left:10px;"></label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="其他或特定專用區" style="margin-left:10px;">其他或特定專用區</label>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="住宅用地" checked >住宅用地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="商業用地" style="margin-left:10px;" >商業用地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="工業用地" style="margin-left:10px;" >工業用地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="建地" style="margin-left:10px;" >建地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="農地" style="margin-left:10px;" >農地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="林地" style="margin-left:10px;" >林地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="其他" style="margin-left:10px;" >其他</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.BuildingCoverageRate" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.BuildingCoverageRate" class="form-control" placeholder="請輸入建蔽率" /><p><strong>%</strong></p>
                            </div>
                            <span asp-validation-for="Land.BuildingCoverageRate" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.BuildingBulkRate" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.BuildingBulkRate" class="form-control" placeholder="請輸入容積率" /><p><strong>%</strong></p>
                            </div>
                            <span asp-validation-for="Land.BuildingBulkRate" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.Farming" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <label asp-for="Land.Farming" style="display:contents;margin-left:10px;"><input asp-for="Land.Farming" type="checkbox" value="true" >農作</label>
                                <label asp-for="Land.Housing" style="display:contents;margin-left:10px;"><input asp-for="Land.Housing" type="checkbox" value="true" style="margin-left:10px;">住宅</label>
                                <label asp-for="Land.ProcessingPlant" style="display:contents;margin-left:10px;"><input asp-for="Land.ProcessingPlant" type="checkbox" value="true" style="margin-left:10px;">加工廠</label>
                                <label asp-for="Land.SMEnterprise" style="display:contents;margin-left:10px;"><input asp-for="Land.SMEnterprise" type="checkbox" value="true" style="margin-left:10px;">中小企業</label>
                                <label asp-for="Land.HighTechIndustry" style="display:contents;margin-left:10px;"><input asp-for="Land.HighTechIndustry" type="checkbox" value="true" style="margin-left:10px;">高科技業</label>
                                <label asp-for="Land.Factory" style="display:contents;margin-left:10px;"><input asp-for="Land.Factory" type="checkbox" value="true" style="margin-left:10px;">廠房</label>
                                <label asp-for="Land.StoreHouse" style="display:contents;margin-left:10px;"><input asp-for="Land.StoreHouse" type="checkbox" value="true" style="margin-left:10px;">倉庫</label>
                                <label asp-for="Land.Advertise" style="display:contents;margin-left:10px;"><input asp-for="Land.Advertise" type="checkbox" value="true" style="margin-left:10px;">廣告</label>
                                <label asp-for="Land.OpenStore" style="display:contents;margin-left:10px;"><input asp-for="Land.OpenStore" type="checkbox" value="true" style="margin-left:10px;">開店</label>
                                <span asp-validation-for="Land.Farming" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.HaveElectricity" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <label asp-for="Land.HaveElectricity" style="display:contents;margin-left:10px;"><input asp-for="Land.HaveElectricity" type="checkbox" value="true" >有電</label>
                                <label asp-for="Land.HaveWater" style="display:contents;margin-left:10px;"><input asp-for="Land.HaveWater" type="checkbox" value="true" style="margin-left:10px;">有水</label>
                                <label asp-for="Land.PathWay" style="display:contents;margin-left:10px;"><input asp-for="Land.PathWay" type="checkbox" value="true" style="margin-left:10px;">通路</label>
                                <label asp-for="Land.SmoothGround" style="display:contents;margin-left:10px;"><input asp-for="Land.SmoothGround" type="checkbox" value="true" style="margin-left:10px;">地面平整</label>
                                <span asp-validation-for="Land.HaveElectricity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandStatus" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.LandStatus" class="form-control" placeholder="請輸入土地當前使用狀況，參考範例：1.空地 2.自用中 3.地上有鐵皮屋 4.地上有合法資材室(兩房一廳一衛)" />
                            </div>
                            <span asp-validation-for="Land.LandStatus" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ROI" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.ROI" class="form-control" placeholder="請輸入投資報酬率" /><p><strong>%（參考公式：投報率=年租金/總價*100%）</strong></p>
                            </div>
                            <span asp-validation-for="Land.ROI" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.SaleBySplit" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.SaleBySplit" style="display:contents;margin-left:10px;"><input asp-for="Land.SaleBySplit" type="radio" value="是">是</label>
                            <label asp-for="Land.SaleBySplit" style="display:contents;margin-left:10px;"><input asp-for="Land.SaleBySplit" type="radio" value="否" style="margin-left:10px;">否</label>
                            <label asp-for="Land.SaleBySplit" style="display:contents;margin-left:10px;"><input asp-for="Land.SaleBySplit" type="radio" value="視情況而定" style="margin-left:10px;" checked>視情況而定</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.MaximumHeightRestriction" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.MaximumHeightRestriction" class="form-control" placeholder="請輸入建築限高" /><p><strong>米</strong></p>
                            </div>
                            <span asp-validation-for="Land.MaximumHeightRestriction" class="text-danger"></span>
                        </div>

                    </div>

                  
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">物件價格</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.Price" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.Price" class="form-control" placeholder="請輸入物件總價" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="Land.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.SelfFunding" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.SelfFunding" class="form-control" placeholder="請先輸入自備款成數" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="Land.SelfFunding" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.PercentageSelfFunding" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.PercentageSelfFunding" class="form-control" placeholder="請輸入自備款成數" /><p style="width: 100px;"><strong>%</strong></p>
                                <span asp-validation-for="Land.PercentageSelfFunding" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.EachSquarePrice" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.EachSquarePrice" class="form-control" placeholder="請輸入單坪售價" /><p style="width: 100px;"><strong>萬/坪</strong></p>
                                <span asp-validation-for="Land.EachSquarePrice" class="text-danger"></span>
                            </div>
                        </div>
                         
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">特色描述</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.AdTitle" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.AdTitle" class="form-control" placeholder="請用簡單文字描述物件特色，廣告標題內容不得違反建管法規，限6-20個字" />
                                <span asp-validation-for="Land.AdTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.FeatureDescribe" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.FeatureDescribe" class="form-control" placeholder="經典範例：電梯大樓，位於高檔、優質社區內，24小時保全管理系統。房間：家俱家電全，裝潢好，一卡皮箱即可入住。周邊：附近有7-11、家樂福、SOGO，生活機能非常棒！交通：步行3分鐘到捷運站口、2分鐘到公車站......" />
                                <span asp-validation-for="Land.FeatureDescribe" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    @* 圖片 *@
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">照片&影片</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        @* 土地圖片1 *@
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ImageUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input type="file" name="files" id="chooseImg" asp-for="Land.ImageUrl" class="form-control" multiple />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" id="imgPreview" style="width: 100%; display: flex; flex-wrap: nowrap; overflow-x: auto;"></div>
                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl))
                        {
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl2))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl2" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl2" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl2" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl3))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl3" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl3" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl4))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl4" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl4" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl4" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl5))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl5" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl5" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl5" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl6))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl6" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl6" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl6" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl7))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl7" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl7" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl7" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl8))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl8" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl8" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl8" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Land.ImageUrl9))
                        {
                            <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.ImageUrl9" class="p-0"></label>
                            </div>
                            <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                    <input type="file" name="files" asp-for="Land.ImageUrl9" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2">
                                <img class="mt-4" src="@Model.Land.ImageUrl9" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }

                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.VideoUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.VideoUrl" class="form-control" placeholder="請填影片網址" />
                                <span asp-validation-for="Land.VideoUrl" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">聯絡資料</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ContactPeopleType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <select asp-for="Land.ContactPeopleType" id="city" class="form-control" style="width: 35%;" required>
                                    <option value="地主">地主</option>
                                    <option value="仲介">仲介</option>
                                    <option value="代理人">代理人</option>
                                </select>
                            <input asp-for="Land.ContactPeopleName" class="form-control" placeholder="請輸入姓名" />
                            <label asp-for="Land.NoIntermediaryDisturb" style="display:contents;margin-left:10px;"><input type="checkbox" name="gender" value="true" style="margin-left:10px;">屋主聲明，請仲介勿擾！</label>
                            <span asp-validation-for="Land.NoIntermediaryDisturb" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.CellPhoneNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.CellPhoneNumber" class="form-control" placeholder="請先輸入手機號碼" />
                                <span asp-validation-for="Land.CellPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.PhoneNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="Land.AreaCodePhoneNumber" class="form-control">
                                    <option value="無">無</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="037">037</option>
                                    <option value="038">038</option>
                                    <option value="039">039</option>
                                    <option value="04">04</option>
                                    <option value="049">049</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="082">082</option>
                                    <option value="089">089</option>
                                    <option value="0823">0823</option>
                                    <option value="0826">0826</option>
                                    <option value="0827">0827</option>
                                    <option value="0836">0836</option>
                                </select>
                                <input asp-for="Land.PhoneNumber" class="form-control" placeholder="沒有可不填" />
                                <span asp-validation-for="Land.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.Email" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.Email" class="form-control" placeholder="請輸入信箱" />
                                <span asp-validation-for="Land.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LineID" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.LineID" class="form-control" placeholder="請輸入LineID" />
                                <span asp-validation-for="Land.LineID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ProtectPhone" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="Land.ProtectPhone" id="city" class="form-control" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">建議啟用，不會影響買家撥打</option>
                                    <option value="啟用">啟用</option>
                                    <option value="不啟用">不啟用</option>
                                </select>
                                <span asp-validation-for="Land.ProtectPhone" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>


                        <div class="row">
                            <div class="col-6 col-md-3">
                            @if (Model.Land.Id != 0)
                                {
                                <button type="submit" class="btn btn-primary form-control" style="background: #456270;">儲存</button>
                                }
                                else
                                {
                                <button type="submit" class="btn btn-primary form-control" style="background: #456270;">刊登</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                            <a asp-controller="House" asp-action="Index" class="btn btn-secondary border form-control" style="background: #456270; color:white;">
                                    返回
                                </a>
                            </div>
                        </div>
                    </div>
            
        </form>
      </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/PostAd.js"></script>

<script src="~/js/landPreviewImage.js"></script>