@model IEnumerable<Land>
@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}

<html lang="zh-Hant">
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">
    <link rel="stylesheet" href="~/css/AllItem.css">
    <link rel="stylesheet" href="~/css/LandFilter.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            @*<img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">*@
            <span class="spinner-rotate">
                <img src="~/images/Preloadlogo.jpg" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            </span>
        </div>
    </section>




    <!-- 最新上架物件 -->
    
    <section id="AboutArea" class="wn__newsletter__area newsletter--bg">
        <!-- 簡易篩選 -->
        <div class="filter-container" data-v-d9530ace="" data-v-88be4db3="">
            <div class="fold wrapper" data-v-88be4db3="">
                <div class="tools" data-v-88be4db3="">
                    @*<a class="tools-item" href="https://www.591.com.tw/index.php?module=mailPaper&amp;action=addSalePaper" target="_blank" data-v-88be4db3="" data-tracker="">
                    <span class="ic-house house-subscribe" data-v-88be4db3=""></span>
                    <span data-v-88be4db3="">訂閱電子報</span>
                    </a>*@
                    <div class="tools-item" data-v-88be4db3="" data-tracker="">
                        <span class="ic-house house-delete" data-v-88be4db3=""></span>
                        @*<span data-v-88be4db3="">清空條件</span>*@
                    </div>
                </div>

                <!-- 位置篩選 -->
                <div class="location-filter-container" data-v-88be4db3="" data-v-4657696d="">
                    <div class="title" data-v-4657696d="">位置</div>
                    <div class="content" data-v-4657696d="">
                        <div class="categories" data-v-4657696d="">
                            <div class="active category" data-v-4657696d="">
                                <span data-v-4657696d="">按縣市及鄉鎮</span>
                                <span class="active ic-house house-arrow-down" data-v-4657696d=""></span>
                            </div>
                        </div>

                        <div class="category-content unlimit" style="" data-v-4657696d="" data-v-8cb48bae="">
                            <!-- 縣市選擇 -->
                            <form asp-action="Index" method="get">
                                <div class="location-filter-container" data-v-88be4db3="" data-v-4657696d="">
                                    <div class="title" data-v-4657696d="">縣市</div>
                                    <div class="content" data-v-4657696d="">
                                        <select name="City" id="county-select" style="width:50%;">
                                            <option value="" disabled>請選擇縣市</option>
                                            <option value="不限" selected>不限</option>
                                            <option value="台北市">台北市</option>
                                            <option value="新北市">新北市</option>
                                            <option value="桃園市">桃園市</option>
                                            <option value="台中市">台中市</option>
                                            <option value="台南市">台南市</option>
                                            <option value="高雄市">高雄市</option>
                                            <option value="基隆市">基隆市</option>
                                            <option value="新竹市">新竹市</option>
                                            <option value="新竹縣">新竹縣</option>
                                            <option value="苗栗縣">苗栗縣</option>
                                            <option value="彰化縣">彰化縣</option>
                                            <option value="南投縣">南投縣</option>
                                            <option value="雲林縣">雲林縣</option>
                                            <option value="嘉義市">嘉義市</option>
                                            <option value="嘉義縣">嘉義縣</option>
                                            <option value="屏東縣">屏東縣</option>
                                            <option value="宜蘭縣">宜蘭縣</option>
                                            <option value="花蓮縣">花蓮縣</option>
                                            <option value="台東縣">台東縣</option>
                                            <option value="澎湖縣">澎湖縣</option>
                                            <option value="金門縣">金門縣</option>
                                            <option value="連江縣">連江縣</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- 地區選擇 -->
                                <div class="location-filter-container" data-v-88be4db3="" data-v-4657696d="">
                                    <div class="title" data-v-4657696d="">地區</div>
                                    <div class="content" data-v-4657696d="">
                                        <div id="district-options" class="options" data-v-8cb48bae="">
                                            <!-- 地區選項將會根據縣市選擇自動生成 -->
                                        </div>
                                    </div>
                                </div>

                                <!-- 其他篩選條件 -->
                                <div class="other-filter-wrapper" data-v-88be4db3="">
                                    <!-- 售價篩選 -->
                                    <div class="pc-custom-filter-container" data-v-88be4db3="" data-v-f3d96318="">
                                        <div class="title" style="" data-v-f3d96318="">售價</div>
                                        <div class="sale_price options-container" data-v-f3d96318="">
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="0" data-max-price="1000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">1000萬以下</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="1000" data-max-price="2000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">1000-2000萬</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="2000" data-max-price="3000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">2000-3000萬</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="3000" data-max-price="5000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">3000-5000萬</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="5000" data-max-price="10000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">5000萬-1億</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="10000" data-max-price="20000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">1-2億</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="MinPrice" value="20000" data-max-price="99999999999999">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">2億以上</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 坪數篩選 -->
                                    <div class="pc-custom-filter-container" data-v-88be4db3="" data-v-f3d96318="">
                                        <div class="title" style="" data-v-f3d96318="">坪數</div>
                                        <div class="acreage options-container" data-v-f3d96318="">
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="50">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">50坪以下</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="100">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">50-100坪</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="200">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">100-200坪</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="400">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">200-400坪</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="700">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">400-700坪</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="1000">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">700-1000坪</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="Area" value="1000+">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">1000坪以上</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 類型篩選 -->
                                    <div class="pc-custom-filter-container" data-v-88be4db3="" data-v-f3d96318="">
                                        <div class="title" style="" data-v-f3d96318="">類型</div>
                                        <div class="land_shape options-container" data-v-f3d96318="">
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="農地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">農地</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="建地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">建地</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="住宅用地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">住宅用地</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="商業用地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">商業用地</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="工業用地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">工業用地</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="林地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">林地</span>
                                                </label>
                                            </div>
                                            <div class="filter-item" data-v-f3d96318="">
                                                <label class="t5-checkbox t5-checkbox--housing" data-v-f3d96318="">
                                                    <span class="t5-checkbox__inner">
                                                        <input class="t5-checkbox__input" type="checkbox" name="LandType" value="山坡地">
                                                        <span class="t5-checkbox__icon">
                                                            <span class="t5-checkbox__check"></span>
                                                        </span>
                                                    </span>
                                                    <span class="t5-checkbox__text">山坡地</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 使用分區篩選 -->
                                    <div class="location-filter-container use-zone" data-v-88be4db3="" data-v-648c8cf1="">
                                        <div class="title" data-v-648c8cf1="">使用分區</div>
                                        <div class="content" data-v-648c8cf1="">
                                            <div class="categories" data-v-648c8cf1="">
                                                <div class="category unlimit" data-v-648c8cf1="">
                                                    <label class="t5-checkbox t5-checkbox--housing">
                                                        <span class="t5-checkbox__inner">
                                                            <input class="t5-checkbox__input" type="radio" name="LandUseZone" value="">
                                                            <span class="t5-checkbox__icon"></span>
                                                        </span>
                                                        <span class="t5-checkbox__text">不限</span>
                                                    </label>
                                                </div>
                                                <div class="category" data-v-648c8cf1="">
                                                    <label class="t5-checkbox t5-checkbox--housing">
                                                        <span class="t5-checkbox__inner">
                                                            <input class="t5-checkbox__input" type="radio" name="LandUseZone" value="都市土地">
                                                            <span class="t5-checkbox__icon"></span>
                                                        </span>
                                                        <span class="t5-checkbox__text">都市土地</span>
                                                    </label>
                                                </div>
                                                <div class="category" data-v-648c8cf1="">
                                                    <label class="t5-checkbox t5-checkbox--housing">
                                                        <span class="t5-checkbox__inner">
                                                            <input class="t5-checkbox__input" type="radio" name="LandUseZone" value="非都市土地">
                                                            <span class="t5-checkbox__icon"></span>
                                                        </span>
                                                        <span class="t5-checkbox__text">非都市土地</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <!-- LandUseZoneType 選項 -->
                                            <div class="category-content unlimit" style="" data-v-648c8cf1="" data-v-234ebcb5="">
                                                <div class="options" data-v-234ebcb5="">
                                                    <!-- 此处将由JS代码动态生成选项 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="submit" value="查詢" style="width: 25%;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 展開按鈕 -->
                @*<div class="fold-btn-container" data-v-88be4db3="">
                    <div class="fold-btn" data-v-88be4db3="">
                        <span data-v-88be4db3="" data-tracker="">
                            展開選項
                            <span class="tip" data-v-88be4db3="">（用途/特色/所有權/來源）</span>
                        </span>
                        <span class="fold ic-house house-arrow-down arrow-icon" data-v-88be4db3=""></span>
                    </div>
                </div>*@
            </div>
        </div>





        <div class="main-title text-center" style="margin-top:50px;">
            <h3 class="section-head mt55">
                最新上架物件
                <p>嚴選區域最新的物件</p>
            </h3>

        </div>
         @foreach (var land in Model)
         {
            <a asp-action="Details" asp-route-landId="@land.Id" target="_blank">
                <div id="clickableDiv-@land.Id" data-bind="14924947" data-gtm-stat="中古屋列表頁_所有物件_點擊量" title="@land.AdTitle" addtion="bid" class="j-house houseList-item clearfix" house-detail-stat="2-8-14924947" data-browse-stated="">
                    
                        <div class="houseList-item-left pull-left">
                            <div data-gtm-stat="" class="relative">
                                <!---->
                                <img src="@land.ImageUrl" data-original="@land.ImageUrl" title="@land.AdTitle" class="houseList-item-thumb j-lazyimg" style="display: inline;">
                                <!---->
                                <div class="houseList-item-photonum">
                                <i class="fa-regular fa-image"></i><span style="margin-left:5px;">@ViewBag.ImageCountIndex[land.Id]</span>
                                </div>
                            </div>
                            <div class="houseList-item-addition">
                                <div class="houseList-item-addition-tag z-recommend z-animate">
                                    精選
                                </div>
                                
                            </div>
                        </div>
                    
                        <div title="" class="houseList-item-right text-right pull-right">
                            <!---->
                            <div class="houseList-item-price">
                                <em> @land.Price.ToString("0")</em> <span>萬</span>
                            </div>
                            <div class="houseList-item-has-carport">
                                ( 含車位價 )
                            </div>
                            <div class="houseList-item-unitprice">
                                @land.EachSquarePrice 萬/坪
                            </div>
                        </div>
                        <div class="houseList-item-main oh">

                            
                            <div class="houseList-item-title">
                                <!--------------------------Mobile--------------------------->
                                <span class="houseList-item-title-label-mobile z-good-house-mobile"></span>
                                <!----------------------------------------------------------->
                                <a asp-action="Details" asp-route-landId="@land.Id" title="@land.AdTitle" target="_blank">@land.AdTitle</a>

                                <span class="houseList-item-title-label z-good-house"></span>

                            </div>

                            <div class="houseList-item-attr-row clearfix">
                                <i class="icon-house"></i>
                            <span class="houseList-item-attrs-shape">@land.SquareMeters 坪</span>
                              @*<span class="houseList-item-attrs-layout">@land.BedRoom 房 @house.LivingRoom 廳 @house.BathRoom 衛</span>*@
                                <span class="houseList-item-attrs-area"> @land.LandType</span>
                                <!---->
                                @*<span class="houseList-item-attrs-houseage">@land.HouseAge 年</span>*@
                                <span class="houseList-item-attrs-floor">@land.LandUseZone</span>
                            </div>

                            <!--------------------------Mobile device--------------------------------->
                            <div class="houseList-item-attr-row-mobile clearfix">
                                @*<span class="houseList-item-attrs-layout">@land.BedRoom 房 @house.LivingRoom 廳</span>*@
                                <span class="houseList-item-attrs-area">@land.SquareMeters 坪</span>
                                <span class="houseList-item-address pull-left"><i class="icon-address"></i> @land.LandType</span>
                                <span class="houseList-item-attrs-floor">@land.LandUseZone</span>
                            </div>
                            <!----------------------------------------------------------------------->

                            <div class="houseList-item-address-row clearfix">
                                <i class="icon-address"></i>
                                <span class="houseList-item-community mr15 pull-left" style="margin-right: 15px;">
                                    
                                        @land.LandSerialNumber
                                    
                                </span>
                                @*<span class="houseList-item-section pull-left">三重區-</span>
                                  <span class="houseList-item-address pull-left">元信二街</span>*@
                            </div>
                            <div class="houseList-item-user-row">
                                <span class="houseList-item-user-head"></span>
                                <span class="houseList-item-user">@land.ContactPeopleType @land.ContactPeopleName</span>
                                <span class="split-line"></span>
                                <i class="icon-browse"></i> <span class="houseList-item-browsenum relative">869人瀏覽</span>
                            </div> <!---->

                            <div class="houseList-item-tag-row clearfix">
                                <!----> <!----> <!----> <!---->
                                @if (land.HaveElectricity == true )
                                {
                                <div class="houseList-item-tag-item">有電</div> 
                                }
                                @if (land.HaveWater == true)
                                {
                                    <div class="houseList-item-tag-item">有水</div>
                                }
                                @if (land.PathWay == true)
                                {
                                    <div class="houseList-item-tag-item">有臨路</div>
                                }
                                @if (land.SmoothGround == true)
                                {
                                    <div class="houseList-item-tag-item">地面平整</div>
                                }
                                @if (land.Farming == true)
                                {
                                    <div class="houseList-item-tag-item">適農作</div>
                                }
                                @if (land.Housing == true)
                                {
                                    <div class="houseList-item-tag-item">適住宅</div>
                                }
                                @if (land.ProcessingPlant == true)
                                {
                                    <div class="houseList-item-tag-item">適加工廠</div>
                                }
                                @if (land.SMEnterprise == true)
                                {
                                    <div class="houseList-item-tag-item">適中小企業</div>
                                }
                                @if (land.HighTechIndustry == true)
                                {
                                    <div class="houseList-item-tag-item">適高科技業</div>
                                }
                                @if (land.Factory == true)
                                {
                                    <div class="houseList-item-tag-item">適廠房</div>
                                }
                                @if (land.StoreHouse == true)
                                {
                                    <div class="houseList-item-tag-item">適倉庫</div>
                                }
                                @if (land.Advertise == true)
                                {
                                    <div class="houseList-item-tag-item">適廣告</div>
                                }
                                @if (land.OpenStore == true)
                                {
                                    <div class="houseList-item-tag-item">適開店</div>
                                }
                                @*<div class="houseList-item-tag-item">含車位</div>
                                <div class="houseList-item-tag-item">有陽台</div>
                                <div class="houseList-item-tag-item">重劃區</div>*@
                            </div>

                            <!------------------------------------Mobile device---------------------------------------------------------------->
                            <div title="" class="houseList-prive-main text-left pull-left">

                                <div class="houseList-item-price">
                                    <em>@land.Price</em> <span>萬</span> <span class="houseList-item-unitprice-moblie">@land.EachSquarePrice 萬/坪</span>
                                </div>
                                @*<div class="houseList-item-has-carport">
                                    @land.IncludeCarSquarePrice
                                </div>*@

                            </div>
                            <!---------------------------------------------------------------------------------------------------------------->
                            
                        </div>
                    
                        <span class="shoucang"><a asp-action="Details" asp-route-landId="@land.Id" data-bind="2" data-text="14924947" data-colle="0" class="houseList-item-collect"></a></span>
                </div>
            </a>
            <script>
                document.getElementById('clickableDiv-@land.Id').addEventListener('click', function () {
                    window.open('@Url.Action("Details", "AllLand", new { landId = land.Id })', '_blank');
                });
            </script>
         }


        @*<div data-bind="14924947" data-gtm-stat="中古屋列表頁_所有物件_點擊量" title="(馬上約看)麗捷黃金次頂樓河景3房車" addtion="bid" class="j-house houseList-item clearfix" house-detail-stat="2-8-14924947" data-browse-stated="">
            <div class="houseList-item-left pull-left">
                <div data-gtm-stat="" class="relative">
                <!----> 
                <img src="https://img2.591.com.tw/house/2024/01/05/170446315486209697.jpg!400x300.jpg" data-original="https://img2.591.com.tw/house/2024/01/05/170446315486209697.jpg!400x300.jpg" title="(馬上約看)麗捷黃金次頂樓河景3房車" class="houseList-item-thumb j-lazyimg" style="display: inline;">
                <!----> 
                    <div class="houseList-item-photonum">
                        <i class="icon-photo-num"></i> <span>15</span>
                    </div>
                </div>
                <div class="houseList-item-addition">
                    <div class="houseList-item-addition-tag z-recommend z-animate">
                        精選
                    </div> 
                <!----> <!---->
                </div>
            </div> 
            <div title="" class="houseList-item-right text-right pull-right">
                <!---->
                    <div class="houseList-item-price">
                        <em> 2,888</em> <span>萬</span>
                    </div>
                    <div class="houseList-item-has-carport">
                        ( 含車位價 )
                    </div>
                    <div class="houseList-item-unitprice">
                        62.66萬/坪
                    </div>
            </div>
            <div class="houseList-item-main oh">
                <div class="houseList-item-title">
                    <!--------------------------Mobile--------------------------->
                    <span class="houseList-item-title-label-mobile z-good-house-mobile"></span>
                    <!----------------------------------------------------------->
                    <a href="/home/house/detail/2/14924947.html" title="(馬上約看)麗捷黃金次頂樓河景3房車">(馬上約看)麗捷黃金次頂樓河景3房車</a>
                    
                    <span class="houseList-item-title-label z-good-house"></span>
                    
                </div>
                
                <div class="houseList-item-attr-row clearfix">
                    <i class="icon-house"></i> 
                    <span class="houseList-item-attrs-shape">電梯大樓</span> 
                    <span class="houseList-item-attrs-layout">3房2廳2衛</span> 
                    <span class="houseList-item-attrs-area">權狀46.09坪</span> 
                    <!----> 
                    <span class="houseList-item-attrs-houseage">1年</span> 
                    <span class="houseList-item-attrs-floor">11F/12F</span>
                </div>

                <!--------------------------Mobile device--------------------------------->
                <div class="houseList-item-attr-row-mobile clearfix">
                    <span class="houseList-item-attrs-layout">3房2廳</span>
                    <span class="houseList-item-attrs-area">46.09坪</span>
                    <span class="houseList-item-address pull-left"><i class="icon-address"></i> 三重區-元信二街</span>
                </div>
                <!----------------------------------------------------------------------->

                <div class="houseList-item-address-row clearfix">
                    <i class="icon-address"></i> 
                    <span class="houseList-item-community mr15 pull-left" style="margin-right: 15px;">
                        <a href="https://market.591.com.tw/103592" target="_blank" data-gtm-stat="中古屋列表_社區行情_社區文字鏈" class="houseList-item-community-link">
                            麗捷花園廣場
                        </a>
                    </span> 
                    <span class="houseList-item-section pull-left">三重區-</span> 
                    <span class="houseList-item-address pull-left">元信二街</span>
                </div> 
                <div class="houseList-item-user-row">
                    <span class="houseList-item-user-head" style="background-image: url(&quot;https://img2.591.com.tw/user/2020/05/24/159028324132317003.jpg!100x100.jpg&quot;);"></span> 
                    <span class="houseList-item-user">仲介王小姐</span> 
                    <span class="split-line"></span>
                    <i class="icon-browse"></i> <span class="houseList-item-browsenum relative">869人瀏覽</span>
                </div> <!---->

                <div class="houseList-item-tag-row clearfix"><!----> <!----> <!----> <!----> 
                    <div class="houseList-item-tag-item">含車位</div>
                    <div class="houseList-item-tag-item">有陽台</div>
                    <div class="houseList-item-tag-item">重劃區</div>
                </div>

                <!------------------------------------Mobile device---------------------------------------------------------------->
                <div title="" class="houseList-prive-main text-left pull-left">
                    
                    <div class="houseList-item-price">
                        <em> 2,888</em> <span>萬</span> <span class="houseList-item-unitprice-moblie">62.66萬/坪</span>
                    </div>
                    <div class="houseList-item-has-carport">
                        ( 含車位價 )
                    </div>
                    
                </div>
                <!---------------------------------------------------------------------------------------------------------------->

            </div> <span class="shoucang"><a href="javascript:;" data-bind="2" data-text="14924947" data-colle="0" class="houseList-item-collect"></a></span>
        </div>*@

    </section>

    

    

    <!-- SCRIPTS -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/HotBuild.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/js/TaiwanDistFilter.js"></script>
    
</body>
</html>