@model House
@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>

<form method="post">
    <div class="container mt-5">
        <div class="row">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-7 col-lg-7">
                        <div class="row align-items-center">
                            <div class="col-6"><h2 class="mb-0">@Model.CommunityName</h2></div>
                            <div class="col-6 text-end" style="white-space: nowrap;">
                                <span class="badge bg-info"><h6 class="mb-0">@Model.Category.Name</h6></span>
                                <span class="text-danger fw-bold"><h3 class="mb-0">@(Model.Price / 10000)萬</h3></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="display: inline-block;">
                                <h6 class="my-2" style="display: inline;">權狀 @Model.SquareMeters 坪<span>|</span></h6>
                            </div>
                            <div class="col" style="display: inline-block;">
                                <h6 class="my-2" style="display: inline;"> @Model.HouseAge 年<span>|</span></h6>
                            </div>
                            <div class="col" style="display: inline-block;">
                                <h6 class="my-2"> @Model.Floor</h6>
                            </div>
                        </div>

                        <div class="row">
                            <h6 class="my-2">@Model.Address</h6>
                        </div>


                    </div>
                    <div class="col-12 col-lg-5 align-self-start">
                        <div class="hotbuildDetail owl-carousel owl-theme hotbuild">
                            <div class="item">
                                <div class="scroll-wrapper clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                                    <div class="clearfix">

                                        <div class="scroll-main hot-builds">

                                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">
                                                <dl class="selected">
                                                    <a href="//newhouse.591.com.tw/134022" target="_blank" google-data-stat="新版首頁_熱門建案_建案0-0">
                                                    <dt>
                                                        <span class="shoucang">
                                                            <strong>17張照片</strong>
                                                            <object><a data-text="134022" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                                        </span>

                                                        <img src="@Model.ImageUrl" alt="@Model.CommunityName" width="270" height="180">
                                                        <div class="newbuild-title">

                                                            <div class="tel-shade"></div>
                                                            

                                                        </div>
                                                    </dt>

                                                   
                                                    </a>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="bg-white mt-5 mb-3">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 pb-1">
                    <a class="btn btn-light form-control text-primary d-flex justify-content-center align-items-center" style="height:50px;" asp-action="Index">返回列表</a>
                </div>
@*                 <div class="col-12 col-md-6 pb-1">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control" style="height:50px;">加入購物車</button>
                </div> *@
            </div>
        </div>
    </div>
</form>

<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/index.js"></script>